<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>Add New Listing Details</h3>
    <form method="post" action="/listing">
        <input type="text" name="listing[title]" placeholder="Enter Title">
        <br><br>
        <textarea name="listing[description]" placeholder="Enter Description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter Image Url">
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter Price">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter Location">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter country">
        <br><br>
        <button>ADD</button>
    </form>
</body>